include *.py *.rc *.mako
include COPYING
recursive-include .buildout *
recursive-include contrib *
recursive-include cron *
recursive-include data *
global-include *.txt *.rst *.po *.mo *.cfg *.sql *.zcml *.html
global-exclude *.egg-info
prune src/attic
prune src/web
prune eggs
prune parts
include MANIFEST.in
include src/mailman/testing/config.pck
